.home-page {
  margin: 10px;
}

.main-cards {
  border-bottom: solid #8098bf 1px;
}

.upload-button {
  margin-bottom: 10px;
}

.loading-icon {
  display: flex;
  justify-content: center;
  margin: 3em;
}
